//COLORS
$color-primary: #0b86f9;
$color-secondary: #ff7e40;

$color-primary--dark: #087cae;
$color-primary--light: #85daff;

$color-grey: #8a8a8a;
$color-grey--light: #f5f5fb;
$color-grey--dark: #222222;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #96bb7c;
$color-green--dark: #039487;
$color-red: #ff6b73;

$color-text: #161b27;

//FONT
$default-font-size: 1.6rem;
